PORT=3000
NODE_ENV=development
# Formato correto: mysql://USUARIO:SENHA@HOST:3306/NOME_DO_BANCO
DATABASE_URL="mysql://usuario:senha@host:3306/banco"
JWT_SECRET="minimo-16-caracteres"
JWT_EXPIRES_IN="7d"
